<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.path">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".AppLanguageActivity" />
        <activity android:name=".GenderActivity" />
        <activity android:name=".DOBActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".SelectClassroomActivity" />
        <activity android:name=".SelectSubjectActivity" />
        <activity android:name=".ClassroomStudentsActivity" />
        <activity android:name=".SelectSchoolActivity" />
        <activity android:name=".AddStudentActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".ClassroomData" />
        <activity android:name=".ClsDataAdaptor" />
        <activity android:name=".ExplorePath"></activity>
    </application>

</manifest>